body {
    background-color: black;
    color: lime;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    border: solid;
}

.question {
    text-align: left;
}

.answers {
    text-align: left;

}